$breakpoints: (
  "xxsmall": 0,
  "xsmall": 375px,
  "small": 480px,
  "medium": 640px,
  "xmedium": 960px,
  "large": 1024px,
  "xlarge": 1200px,
  "xxlarge": 1440px,
  "xxxlarge": 1920px,
  "huge": 2560px,
);

$grid-gap: 1rem;
$grid-columns: 12;

$triangle-width: 258px;
$triangle-height: 300px;
$column-gap: 18px;

@include breakpoint(xlarge) {
  $triangle-width: 515px;
  $triangle-height: 600px;
}
