body {
  background-color: $c-white;
  font-family: sans-serif;
}
p {
  font-family: Inter, sans-serif;
  font-weight: 400;
}
h2 {
  font-family: Inter, sans-serif;
  font-weight: 600;
}

#maincontent {
  margin-left: 0px;
  padding: 30px 20px 60px;

  @include breakpoint(xmedium) {
    padding: 60px 30px;
    margin-left: 350px;
  }
}
.Image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 4rem 0 2rem;
  opacity: 0;
  animation: fade-in  1s ease forwards;
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @include breakpoint(xmedium) {
    height: 100%;
    margin: 4rem auto 2rem;
  }
  @include breakpoint(large) {
    margin: 4rem 0;
  }
}
